strong, .cm-strong {
    font-weight: 800!important;
    color: rgb(188, 32, 79)!important;
}

/* rgb(188, 32, 50)
 * rgb(0, 113, 29) 
 * rgb(0, 103, 202)
 * */

i, em, span.cm-em {
    color: rgb(30, 105, 200); 
}

/* Admonition Plugin CSS Snippets */
.admonition-title-icon {
margin-right: 1rem;
}

.admonition-title-icon > svg {
transform: scale(1.6);
}
