strong, .cm-strong {
    font-weight: 800!important;
    color: rgb(188, 32, 79)!important;
}

i, em, span.cm-em {
    color: #3f4f6f; 
}

/* Admonition Plugin CSS Snippets */
.admonition-title-icon {
margin-right: 1rem;
}

.admonition-title-icon > svg {
transform: scale(1.6);
}
